
$COLOR_PRIMARY: #4D487F;
$COLOR_PRIMARY_LIGHT: #706aab;
$COLOR_PRIMARY_DARK: #3a365f;
$COLOR_ERROR: red;

$FONT_DEFAULT: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin hover-animation() {
    transition: color 500ms ease-out, background-color 500ms ease-out;
}

body {
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 1.5;
    font-family: $FONT_DEFAULT;
    min-height: 800px;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
}

a, a:visited, a:focus {
    color: $COLOR_PRIMARY;
    text-decoration: none;
    @include hover-animation();

    &:hover {
        color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        color: $COLOR_PRIMARY_DARK;
    }
}

.errors {
    margin: 20px 0;
    color: $COLOR_ERROR;

    ul {
        margin: 5px 0;
    }

    li {
        padding: 2px 0;
    }
}

.footnotes {
    margin-top: 20px;
    font-size: 0.9em;
}

table, th, td {
    border: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #E2E2E2;
}

th {
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    font-weight: 700;
}

td {
    padding: 8px 10px;
    vertical-align: top;
}


tr.row-error {
  background-color: #FFDDDD;
}

tr.row-ignored {
  color: #666;
}

td.error {
  color: $COLOR_ERROR;
}

td.checking {
  color: orange;
}

.services {
    .portal-apps {
        min-width: 250px;
        margin: 0;
        padding-left: 20px;

        li {
            padding: 2px 0;
        }

        .invalid-portal-app {
            color: #666;
            .error {
                color: $COLOR_ERROR;
            }
        }
    }
}

#modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(68, 68, 68, 0.6);
    z-index: 5000;

    .modal-wrapper {
        position: relative;
        display: table;
        margin: 2% auto;
        min-width: 250px;
        max-width: 90%;
        box-shadow: 2px 4px 4px #444;
        background-color: white;
    }

    .modal-header {
        position: relative;
        width: 100%;

        .modal-close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: black;
            cursor: pointer;
        }
    }

    #modal-content {
        min-width: 250px;
        min-height: 250px;
        padding: 30px;
        font-family:  Consolas, 'Liberation Mono', Courier, monospace;
        font-size: 14px;
    }
}
