
$COLOR_BLACK: black;
$COLOR_WHITE: white;
$COLOR_GREY: #888;
$COLOR_ERROR: #FF0033;

$COLOR_PRIMARY: #504B88;
$COLOR_PRIMARY_LIGHT: #655fa7;
$COLOR_PRIMARY_DARK: #3d3967;
$COLOR_PRIMARY_EXTRA_LIGHT: #f4f3f8;

$COLOR_SECONDARY: #C49B5E;
$COLOR_SECONDARY_LIGHT: #d2b283;
$COLOR_SECONDARY_DARK: #af8240;

$FONT_DEFAULT: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$FONT_HEADER: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

@mixin hover-animation() {
    transition: color 500ms ease-out, background-color 500ms ease-out;
}

/* Remove Chrome's input focus border */
:focus {
    outline: none !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $COLOR_BLACK;
    font-size: 16px;
    font-family: $FONT_DEFAULT;
    min-height: 800px;
}

h1, h2, h3 {
    font-family: $FONT_HEADER;
}

h2 {
    font-size: 1.2em;
}

a, a:visited, a:focus {
    color: $COLOR_PRIMARY;
    text-decoration: none;
    @include hover-animation();

    &:hover {
        color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        color: $COLOR_PRIMARY_DARK;
    }
}

.errors {
    margin: 20px 0;
    color: $COLOR_ERROR;

    ul {
        margin: 5px 0;
    }

    li {
        padding: 2px 0;
    }
}

.footnotes {
    margin-top: 20px;
    font-size: 0.9em;
}

table, th, td {
    border: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: $COLOR_PRIMARY_EXTRA_LIGHT;
}

th {
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    font-weight: normal;
    font-family: $FONT_HEADER;
    font-size: 1.05em;
}

td {
    padding: 8px 10px;
    vertical-align: top;
}


tr.row-error {
  background-color: #FFDDDD;
}

tr.row-ignored {
  color: $COLOR_GREY;
}

td.error {
  color: $COLOR_ERROR;
}

td.checking {
  color: $COLOR_SECONDARY;
}

.services {
    .portal-apps {
        min-width: 250px;
        margin: 0;
        padding-left: 20px;

        li {
            padding: 2px 0;
        }

        .invalid-portal-app {
            color: $COLOR_GREY;
            .error {
                color: $COLOR_ERROR;
            }
        }
    }
}

#modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(68, 68, 68, 0.6);
    z-index: 5000;

    .modal-wrapper {
        position: relative;
        display: table;
        margin: 2% auto;
        min-width: 250px;
        max-width: 90%;
        box-shadow: 2px 4px 4px #444;
        background-color: white;
    }

    .modal-header {
        position: relative;
        width: 100%;

        .modal-close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: black;
            cursor: pointer;
        }
    }

    #modal-content {
        min-width: 250px;
        min-height: 250px;
        padding: 30px;
        font-family:  Consolas, 'Liberation Mono', Courier, monospace;
        font-size: 0.9em;
    }
}
