
node_modules/
dist/
lib/
test-data/
tmp/
log/

.idea
*.iml
.vscode
.DS_Store
globalConfig.json
lerna-debug.log
.angular

/packages/plugin-packages/mashroom-background-jobs/public/
/packages/plugin-packages/mashroom-docs-static/public/docs/
/packages/plugin-packages/mashroom-portal-remote-app-registry/public/
/packages/plugin-packages/mashroom-portal-remote-app-registry-k8s/public/
/packages/plugin-packages/mashroom-portal-demo-svelte-app/public/

/packages/test/*/data
