
#mashroom-portal-admin-app-container {
    height: 32px;

    .mashroom-portal-app-wrapper {
        min-height: 32px;
        margin: 0;

        .mashroom-portal-app-header {
            display: none !important;
        }
    }

    .mashroom-portal-app-loading {
        min-height: 32px;

        span {
            display: none;
        }
    }
}

.mashroom-portal-admin-app {
    --mashroom-portal-color-text-default: var(--mashroom-portal-dark-theme-color-text-default);
    --mashroom-portal-color-text-secondary: var(--mashroom-portal-dark-theme-color-text-secondary);
    --mashroom-portal-color-disabled: var(--mashroom-portal-dark-theme-color-disabled);
    --mashroom-portal-color-input-placeholder: var(--mashroom-portal-dark-theme-color-input-placeholder);
    --mashroom-portal-color-input-border: var(--mashroom-portal-dark-theme-color-input-border);
    --mashroom-portal-color-navigation: var(--mashroom-portal-dark-theme-color-navigation);
    --mashroom-portal-color-error: var(--mashroom-portal-dark-theme-color-error);
    --mashroom-portal-color-button: var(--mashroom-portal-dark-theme-color-button);
    --mashroom-portal-color-button-hover: var(--mashroom-portal-dark-theme-color-button-hover);
    --mashroom-portal-background-color-default: var(--mashroom-portal-dark-theme-background-color-default);
    --mashroom-portal-background-color-modal: var(--mashroom-portal-dark-theme-background-color-modal);
    --mashroom-portal-background-color-modal-header: var(--mashroom-portal-dark-theme-background-color-modal-header);
    --mashroom-portal-background-color-input: var(--mashroom-portal-dark-theme-background-color-input);
    --mashroom-portal-background-color-alt: var(--mashroom-portal-dark-theme-background-color-alt);
    --mashroom-portal-background-color-app: var(--mashroom-portal-dark-theme-background-color-app);
    --mashroom-portal-background-color-navigation: var(--mashroom-portal-dark-theme-background-color-navigation);
    --mashroom-portal-background-color-navigation-hover: var(--mashroom-portal-dark-theme-background-color-navigation-hover);

    background-color: var(--mashroom-portal-background-color-admin-app);
    color: var(--mashroom-portal-color-text-default);

    .menu-bar {
        background-color: var(--mashroom-portal-background-color-admin-app);
    }

    .available-apps-panel {
        .available-app {
            margin-bottom: 2px;

            &:hover {
                background-color:  var(--mashroom-portal-background-color-alt);
            }

            .filter-match {
                color: var(--mashroom-portal-color-accent);
            }

            .app-description {
                color: var(--mashroom-portal-color-text-secondary);
            }
        }
    }

    .dropdown-menu-button {
        &:hover {
            background-color:  var(--mashroom-portal-background-color-alt);
        }
    }

    .portal-apps-control-toggle {
        &:hover {
            background-color:  var(--mashroom-portal-background-color-alt);
        }
    }

    a {
        color: var(--mashroom-portal-color-text-secondary);

        &:hover {
            color: var(--mashroom-portal-color-text-default);
        }
    }

    .page {
        .configure, .delete {
            &:hover {
                background-color:  var(--mashroom-portal-background-color-alt);
            }
        }
    }

    .site {
        .configure {
            &:hover {
                background-color:  var(--mashroom-portal-background-color-alt);
            }
        }
    }
}

.mashroom-portal-admin-app-controls {
    .tool-button {
        color: white;
        background-color: #888;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.mashroom-portal-admin-drag-ghost {
    color: var(--mashroom-portal-color-text-default);
    background-color: var(--mashroom-portal-background-color-app);
}
