
// Reset styles
@use "normalize.css/normalize.css";

// From Bootstrap we only use the grid
@use "bootstrap/dist/css/bootstrap-grid";

@use "mixins" as *;
@use "variables";

@keyframes show-delayed {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-flashing {
    0% {
        background-color: var(--mashroom-portal-color-primary);
    }
    50%,
    100% {
        background-color: var(--mashroom-portal-color-primary-extra-light);
    }
}

@keyframes progress-bar {
    0% {
        left:0;
        right:100%;
        width:0;
    }
    10% {
        left: 0;
        right: 75%;
        width: 20%;
    }
    90% {
        right: 0;
        left: 75%;
        width: 20%;
    }
    100% {
        left: 100%;
        right: 0;
        width: 0;
    }
}

::placeholder {
    color: var(--mashroom-portal-color-input-placeholder);
}

:root {
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: var(--mashroom-portal-color-text-default);
    font-family: var(--mashroom-portal-font-default), sans-serif;
    font-size: var(--mashroom-portal-line-font-size-default);
    line-height: var(--mashroom-portal-line-height-default);
}

body {
    background-color: var(--mashroom-portal-background-color-footer);
}

.row, .container, .container-fluid {
    --bs-gutter-x: var(--mashroom-portal-gutter-width);
}

.container-fluid {
    width: auto;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: var(--mashroom-portal-spacing-default);
}

h4 {
    margin-top: 0;
    margin-bottom: var(--mashroom-portal-spacing-small);
}

h5, h6 {
    margin: 0;
}

a, a:visited, a:focus {
    color: var(--mashroom-portal-color-button);
    text-decoration: underline;
    @include hover-animation();

    &:hover {
        color: var(--mashroom-portal-color-button-hover);
    }

    &:active {
        color: var(--mashroom-portal-color-button);
    }
}

button, input[type="submit"] {
    background-color: var(--mashroom-portal-color-button);
    color: white;
    border-radius: 5px;
    border: none;
    padding: var(--mashroom-portal-padding-button);
    cursor: pointer;
    font-family: var(--mashroom-portal-font-default), sans-serif;
    font-size: 1em;
    @include hover-animation();

    &:hover {
        background-color: var(--mashroom-portal-color-button-hover);
    }

    &:active {
        background-color: var(--mashroom-portal-color-button);
    }

    &[disabled] {
        cursor: not-allowed;
        color: var(--mashroom-portal-color-input-placeholder);
        background-color: var(--mashroom-portal-color-disabled);

        &:hover, &:active {
            background-color: var(--mashroom-portal-color-disabled);
        }
    }
}

button.secondary {
    background-color: transparent;
    border: 1px solid var(--mashroom-portal-color-button);
    color: var(--mashroom-portal-color-button);

    &:hover {
        color: var(--mashroom-portal-color-button-hover);
        border-color: var(--mashroom-portal-color-button-hover);
    }

    &:active {
        color: var(--mashroom-portal-color-button);
        border-color: var(--mashroom-portal-color-button);
    }

    &[disabled] {
        background-color: transparent;
        border-color: var(--mashroom-portal-color-disabled);
        color: var(--mashroom-portal-color-input-placeholder);

        &:hover, &:active {
            border-color: var(--mashroom-portal-color-disabled);
            color: var(--mashroom-portal-color-input-placeholder);
        }
    }
}

.mashroom-portal-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 23px;

        &:before {
            position: absolute;
            left: 2px;
            top: -2px;
            font-family: var(--mashroom-portal-font-icon), sans-serif;
            font-size: 1.1em;
            content: "\f0c8";
            color: var(--mashroom-portal-color-button);
            @include focus-animation();
        }
    }

    &:checked + label:before {
        content: "\f14a";
    }

    &:focus + label {
        &:before {
            color: var(--mashroom-portal-color-button-hover);
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: var(--mashroom-portal-color-disabled);

        &:before {
            color: var(--mashroom-portal-color-disabled);
        }
    }
}

.mashroom-portal-radio {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 23px;

        &:before {
            position: absolute;
            left: 1px;
            top: -2px;
            font-family: var(--mashroom-portal-font-icon), sans-serif;
            font-size: 1.1em;
            content: "\f111";
            color: var(--mashroom-portal-color-button);
            @include focus-animation();
        }
    }

    &:checked + label:before {
        content: "\f192";
    }

    &:focus + label {
        &:before {
            color: var(--mashroom-portal-color-button-hover);
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: var(--mashroom-portal-color-disabled);

        &:before {
            color: var(--mashroom-portal-color-disabled);
        }
    }
}

input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"], textarea {
    box-sizing: border-box;
    padding: var(--mashroom-portal-padding-input);
    border: 1px solid var(--mashroom-portal-color-input-border);
    border-radius: 3px;
    width: 100%;
    font-family: var(--mashroom-portal-font-default), sans-serif;
    font-size: 1em;
    color: var(--mashroom-portal-color-text-default);
    background-color: var(--mashroom-portal-background-color-input);
    @include focus-animation();

    &:focus {
        outline: 1px solid var(--mashroom-portal-color-input-border);
    }

    &:invalid {
        border: 1px solid var(--mashroom-portal-color-error);
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--mashroom-portal-color-input-placeholder);
        border-color: var(--mashroom-portal-color-disabled);
        background-color: var(--mashroom-portal-color-disabled);
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: var(--mashroom-portal-font-default), sans-serif;
    font-size: 1em;
    width: 100%;
    padding: var(--mashroom-portal-padding-input);
    border: 1px solid var(--mashroom-portal-color-input-border);
    border-radius: 3px;
    color: var(--mashroom-portal-color-text-default);
    background-color: var(--mashroom-portal-background-color-input);
    @include focus-animation();

    option {
        background-color: var(--mashroom-portal-background-color-input);
    }

    &:focus {
        outline: 1px solid var(--mashroom-portal-color-input-border);
    }

    &:invalid {
        border: 1px solid var(--mashroom-portal-color-error);
    }

    &::-ms-expand {
        display: none;
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--mashroom-portal-color-input-placeholder);
        border-color: var(--mashroom-portal-color-disabled);
        background-color: var(--mashroom-portal-color-disabled);
    }
}

label, form {
    margin: 0;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid var(--mashroom-portal-color-primary);

    tr {
        border-bottom: 1px solid var(--mashroom-portal-color-primary);

        &:last-child {
            border-bottom: none;
        }
    }

    th {
        text-align: left;
        padding: 5px 10px;
        background-color: var(--mashroom-portal-color-primary);
        color: white;
        font-weight: normal;
        border-right: 1px solid white;

        &:last-child {
            border-right: none;
        }
    }

    td {
        padding: 4px 10px;
        border-right: 1px solid var(--mashroom-portal-color-primary);

        &:last-child {
            border-right: none;
        }
    }

    &.table-striped {
        tr:nth-child(even) {
            background-color: var(--mashroom-portal-background-color-alt)
        }
    }
}

blockquote {
    margin: 0 var(--mashroom-portal-spacing-default);
    padding: var(--mashroom-portal-spacing-small) var(--mashroom-portal-spacing-default);
    background-color: var(--mashroom-portal-background-color-default);
    border-left: 7px solid var(--mashroom-portal-color-disabled);
}

header {
    background-color: var(--mashroom-portal-background-color-header);
    color: white;
    position: relative;

    .logo {
        display: none;
        width: 40px;
        height: 30px;
        margin-left: var(--mashroom-portal-spacing-default);

        img {
            width: 40px;
            height: auto;
        }

        svg {
            width: 40px;
            height: 30px;
        }
    }

    .site-name {
        h1 {
            display: inline-block;
            padding: var(--mashroom-portal-spacing-default) var(--mashroom-portal-spacing-default) 0 var(--mashroom-portal-spacing-default);
            font-size: 1.4em;
            font-weight: 400;
        }
    }

    .env-and-versions {
        font-size: 0.8em;
        line-height: 1.3em;
        margin-left: var(--mashroom-portal-spacing-default);
        color: #DDD;
        padding: 10px 0;

        a {
            color: #DDD;

            &:hover {
                color: white;
            }
        }
    }

    .user {
        padding: 0 20px 10px 20px;
        margin-left: var(--mashroom-portal-spacing-default);
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            position: absolute;
            display: inline-block;
            font-family: var(--mashroom-portal-font-icon), sans-serif;
            font-weight: bold;
            content: "\f007";
            color: white;
            left: 0;
        }

        .user-name {
            padding-left: 5px;
        }

        .logout {
            padding-left: 10px;

            a {
                display: block;
                color: #DDD;
                font-size: 0.8em;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .menu-open {
        cursor: pointer;
        position: absolute;
        bottom: 5px;
        right: 10px;
        padding: 2px 5px;

        &:before {
            content: '\f142';
            font-family: var(--mashroom-portal-font-icon), sans-serif;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

.loading-animation {
    width: 100%;
    height: 2px;
    background-color: var(--mashroom-portal-color-secondary-light);
    position: relative;

    .loading-animation-progress {
        display: none;
        height: 2px;
        background-color: var(--mashroom-portal-background-color-header);
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        left: 0;
        animation: progress-bar 1s linear infinite;

        &.show {
           display: block;
        }
    }
}

.mashroom-portal-app-wrapper {
    background-color: var(--mashroom-portal-background-color-app);
    margin-bottom: var(--mashroom-portal-gutter-width);
    border-radius: 10px;

    .mashroom-portal-app-host {
        min-height: 20px;
    }

    .mashroom-portal-app-loading {
        min-height: 100px;
        overflow: hidden;
        opacity: 0;
        animation: show-delayed 0.1s;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        span {
            display: table;
            margin: 15px auto;
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: var(--mashroom-portal-color-primary-light);
            animation: dot-flashing 1s infinite linear alternate;
            animation-delay: 1.5s;
            top: 0;

            &:before,
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
            }

            &:before {
                left: -15px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: var(--mashroom-portal-color-primary-light);
                animation: dot-flashing 1s infinite alternate;
                animation-delay: 1s;
            }

            &:after {
                left: 15px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: var(--mashroom-portal-color-primary-light);
                animation: dot-flashing 1s infinite alternate;
                animation-delay: 2s;
            }
        }
    }

    .mashroom-portal-app-loading-error {
        color: var(--mashroom-portal-color-error);
        padding: var(--mashroom-portal-spacing-small);
    }

    .mashroom-portal-app-header {
        display: none;
        align-items: center;
        background-color: var(--mashroom-portal-background-color-app-header);
        border-bottom: 1px solid var(--mashroom-portal-background-color-default);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .mashroom-portal-app-header-title {
            flex-grow: 2;
            padding: var(--mashroom-portal-spacing-small) var(--mashroom-portal-spacing-default);
            font-size: 0.8em;
        }

        .mashroom-portal-app-header-close {
            cursor: pointer;

            &:before {
                content: '\f00d';
                font-family: var(--mashroom-portal-font-icon), sans-serif;
                font-weight: bold;
                padding-right: var(--mashroom-portal-spacing-default);
                color: var(--mashroom-portal-color-button);
            }

            &:hover:before {
                color: var(--mashroom-portal-color-button-hover);
            }
        }
    }

    &.no-border {
        box-shadow: none;
    }

    &.no-margin {
        margin-bottom: 0;
    }

    &.show-header {
        .mashroom-portal-app-header {
            display: flex !important;
        }
    }

    &.hide-header {
        .mashroom-portal-app-header {
            display: none !important;
        }
    }

    .mashroom-portal-app-info {
        left: 0;
        top: 0;
        background-color: var(--mashroom-portal-color-secondary-light);
        border: 2px solid var(--mashroom-portal-color-secondary);
        color: black;
        font-size: 0.7em;
        font-weight: bold;
        line-height: 1.2em;
        padding: 2px 4px;
        opacity: 0.9;
        z-index: 20000;
    }
}

.mashroom-portal-ui-field-label {
    display: inline-block;
    color: var(--mashroom-portal-color-text-secondary);
}

main {
    background-color: var(--mashroom-portal-background-color-default);
    padding: var(--mashroom-portal-gutter-width) calc(var(--mashroom-portal-gutter-width) / 2);

    &.show-portal-app-headers {
        .mashroom-portal-app-wrapper {
            .mashroom-portal-app-header {
                display: flex;
            }
        }
    }

    nav {
        display: none;
        white-space: nowrap;
        min-width: 200px;
        margin-bottom: var(--mashroom-portal-spacing-default);
        margin-top: -15px;

        &.show {
            display: block;
        }

        .nav {
            list-style: none;
            padding: 0;
        }

        .nav .nav {
            .nav-item .nav-link {
                padding-left: 30px;
            }
        }

        .nav .nav .nav {
            .nav-item .nav-link {
                padding-left: 40px;
            }
        }

        .nav .nav .nav .nav {
            .nav-item .nav-link {
                padding-left: 50px;
            }
        }

        .nav-item {
            display: block;

            .nav-link {
                display: block;
                position: relative;
                padding: 6px 20px;
                margin-bottom: 2px;
                color: var(--mashroom-portal-color-navigation);
                text-decoration: none;
                @include hover-animation();

                &:hover {
                    background-color: var(--mashroom-portal-background-color-navigation-hover);
                }

                &.active {
                    cursor: default;
                    color: white;
                    background-color: var(--mashroom-portal-color-primary);

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    #portal-page-content {
        transition: filter 0.1s;

        &.transition {
            // Comment this in for some fancy page transition animation
            // filter: blur(2px);
        }
    }
}

footer {
    color: var(--mashroom-portal-color-primary);
    padding: var(--mashroom-portal-spacing-default) 0;
    border-top: 1px solid var(--mashroom-portal-color-secondary);
    font-size: 0.8em;
    width: 100%;

    .powered-by {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

}

.mashroom-portal-apps-container {

}

.mashroom-portal-ui-error-message {
    color: var(--mashroom-portal-color-error);
    font-size: 0.9em;
    padding: 3px 0 3px 12px;
    position: relative;

    &:before {
        font-family: var(--mashroom-portal-font-icon), sans-serif;
        font-weight: bold;
        content: '\f12a';
        position: absolute;
        left: 2px;
        top: 5px;
        font-size: 0.9em;
    }
}

.mashroom-portal-ui-input.error {
    input, select, textarea {
        border-color: var(--mashroom-portal-color-error) !important;
    }

    .mashroom-portal-checkbox + label:before, .mashroom-portal-radio + label:before {
        color: var(--mashroom-portal-color-error) !important;
    }

    .cm-editor {
        border-color: var(--mashroom-portal-color-error) !important;
    }
}

.mashroom-portal-ui-dropdown-menu {

    .dropdown-menu-content {
        background-color: var(--mashroom-portal-background-color-dropdown);
        border: 1px solid var(--mashroom-portal-color-input-border);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .mashroom-portal-ui-dropdown-menu-item {
        &:hover {
            background-color: var(--mashroom-portal-background-color-dropdown-hover);
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

.mashroom-portal-autocomplete-field {
    .suggestions-container-open {
        background-color: var(--mashroom-portal-background-color-dropdown);
        border: 1px solid var(--mashroom-portal-color-input-border);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .suggestion-highlighted {
        background-color: var(--mashroom-portal-background-color-dropdown-hover);
    }
}

.mashroom-portal-ui-modal {
    .mashroom-portal-ui-modal-wrapper {
        border-radius: 10px;
    }

    .mashroom-portal-ui-modal-header {
        border-bottom: 1px solid var(--mashroom-portal-background-color-navigation);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .close-button {
            &:after {
                color: var(--mashroom-portal-color-button);
            }

            &:hover:after {
                color: var(--mashroom-portal-color-button-hover);
            }
        }
    }

    .mashroom-portal-ui-modal-content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.mashroom-portal-ui-tab-dialog {
    .tab-dialog-header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: var(--mashroom-portal-spacing-small);

        .tab-dialog-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-left: var(--mashroom-portal-spacing-small);
            margin-top: var(--mashroom-portal-spacing-small);
            border-radius: 10px;
            background-color: var(--mashroom-portal-background-color-navigation);
            color: var(--mashroom-portal-color-navigation);
            @include hover-animation();

            &:hover {
                background-color: var(--mashroom-portal-background-color-navigation-hover);
            }

            &.active {
                background-color: var(--mashroom-portal-color-primary);
                color: white;
                cursor: default;

                .close-button {
                    color: white;
                }
            }

            .title {
                padding: 6px 16px;
                font-size: 0.9em;
            }

            .close-button {
                cursor: pointer;
                color: var(--mashroom-portal-color-button);

                &:after {
                    content: '\f00d';
                    font-family: var(--mashroom-portal-font-icon), sans-serif;
                    font-weight: bold;
                    padding: 2px 15px;
                }

                &:hover {
                    color: var(--mashroom-portal-color-button-hover);
                }
            }
        }
    }
}

.cm-editor {
    border: 1px solid var(--mashroom-portal-color-input-border);
    padding: var(--mashroom-portal-padding-input);
    background-color: var(--mashroom-portal-background-color-input);
    @include focus-animation();

    &.cm-focused {
        outline: 1px solid var(--mashroom-portal-color-input-border);
    }
}

#mashroom-portal-modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(#444, 0.6);
    z-index: 5000;
    display: none;

    &.show {
        display: block;
    }

    .mashroom-portal-modal-overlay-wrapper {
        position: relative;
        display: table;
        margin: 10% auto;
        min-width: 250px;
        max-width: 90%;
        box-shadow: 4px 4px 8px #444;
        transition: opacity 0.3s ease;
    }

    .mashroom-portal-modal-overlay-header {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: var(--mashroom-portal-background-color-app-header);
        border-bottom: 1px solid var(--mashroom-portal-background-color-navigation);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        #mashroom-portal-modal-overlay-title {
            flex-grow: 2;
            padding: var(--mashroom-portal-spacing-small) var(--mashroom-portal-spacing-default) ;
            font-size: 0.8em;
            font-weight: bold;
        }

        #mashroom-portal-modal-overlay-close {
            cursor: pointer;
            font-size: 16px;
            padding: var(--mashroom-portal-spacing-small) var(--mashroom-portal-spacing-default) ;

            &:after {
                content: '\f00d';
                font-family: var(--mashroom-portal-font-icon), sans-serif;
                font-weight: bold;
                color: var(--mashroom-portal-color-button);
            }

            &:hover:after {
                color: var(--mashroom-portal-color-button-hover);
            }
        }
    }

    .mashroom-portal-modal-overlay-content {
        overflow: hidden;
        height: 100%;
        background-color: var(--mashroom-portal-background-color-app);
        min-height: 60px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .mashroom-portal-app-wrapper {
            box-shadow: none;
        }
    }
}

#mashroom-portal-auth-expires-warning {
    position: fixed;
    top: -100px;
    left: calc(50% - 170px);
    width: 320px;
    transition: top 1s ease-out;
    z-index: 20000;

    &.show {
        top: 0;
    }

    .mashroom-portal-auth-expires-warning-message {
        position: relative;
        background-color: var(--mashroom-portal-background-color-default);
        opacity: 0.9;
        padding: 10px 20px 10px 30px;
        border: 2px solid var(--mashroom-portal-color-error);
        border-top: none;
        font-size: 0.8em;
        font-weight: 500;

        &:before {
            position: absolute;
            left: 10px;
            content: '\f017';
            font-family: var(--mashroom-portal-font-icon), sans-serif;
            font-weight: bold;
            padding-right: 5px;
            color: var(--mashroom-portal-color-error);
        }
    }
}

// Tabify app styles

.portal-app-mashroom-portal-tabify-app {
    background-color: transparent;

    .mashroom-portal-app-loading {
        // Don't show the loading animation
        display: none;
    }
}

@include small {

    .container-fluid {
        width: 100%;
    }

    header {
        display: flex;
        align-items: center;

        .logo {
            display: block;
        }

        .site-name {
            flex-grow: 2;

            h1 {
                font-size: 1.6em;
                margin: 0;
                padding: var(--mashroom-portal-spacing-default);
            }
        }

        .env-and-versions {
            padding: 0 20px;
            margin: 0;
        }

        .user {
            display: block;
            padding-top: 8px;
            padding-left: 34px;

            &:before {
                font-size: 1.6em;
                top: 12px;
            }

            .user-name {
                text-align: right;
            }

            .logout {
                text-align: right;
                margin-top: -3px;
            }
        }

        .menu-open {
            display: none;
        }
    }

    main {
        display: flex;
        min-height: 75vh;

        nav {
            display: block;
            margin: 0 calc(var(--mashroom-portal-gutter-width) / 2);

            &>ul {
                margin: 0;
                background-color: var(--mashroom-portal-background-color-navigation);
                border-radius: 10px;

                &>li {
                    border-bottom: 1px solid var(--mashroom-portal-background-color-default);

                    &:first-child {
                       a {
                           border-top-right-radius: 10px;
                           border-top-left-radius: 10px;
                       }
                    }

                    &:last-child {
                        a {
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }
                }
            }
        }
    }

    #mashroom-portal-auth-expires-warning {
        left: calc(50% - 240px);
        width: 480px;
    }
}

@include medium {

    header {

        .site-name {


            h1 {

            }
        }

        .user {

        }
    }

}
