@use "sass:math";

@import "node_modules/@mashroom/mashroom-portal-ui-commons/sass/mashroom_portal_defaults";

$COLOR_BLACK: #343633;
$COLOR_WHITE: white;
$COLOR_GREY: #888;
$COLOR_GREY_LIGHT: #999;
$COLOR_ERROR: #FF0033;

$COLOR_PRIMARY: #504B88;
$COLOR_PRIMARY_LIGHT: #655fa7; // 10%
$COLOR_PRIMARY_DARK: #3d3967; // 10%
$COLOR_PRIMARY_EXTRA_LIGHT: #f4f3f8; // 55%

$COLOR_SECONDARY: #C49B5E;
$COLOR_SECONDARY_LIGHT: #d2b283; // 10%
$COLOR_SECONDARY_DARK: #af8240; // 10%
$COLOR_SECONDARY_EXTRA_LIGHT: #f4ece1; // 35%

$COLOR_LOADING_DOTS: $COLOR_PRIMARY;
$COLOR_LOADING_DOTS_LIGHTEN:  lighten($COLOR_PRIMARY, 30%);

$ADMIN_APP_COLOR_BACKGROUND: $COLOR_BLACK;
$ADMIN_APP_COLOR_BACKGROUND_LIGHT: lighten($ADMIN_APP_COLOR_BACKGROUND, 10);
$ADMIN_APP_COLOR_BACKGROUND_LIGHTER: lighten($ADMIN_APP_COLOR_BACKGROUND, 20);
$ADMIN_APP_COLOR_TEXT: white;
$ADMIN_APP_COLOR_TEXT_DARK: lighten($ADMIN_APP_COLOR_BACKGROUND, 50);

$FONT_DEFAULT: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$FONT_HEADER: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

$GUTTER_WIDTH: 15px;

@keyframes show-delayed {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-flashing {
    0% {
        background-color: $COLOR_LOADING_DOTS;
    }
    50%,
    100% {
        background-color: $COLOR_LOADING_DOTS_LIGHTEN;
    }
}

@keyframes progress-bar {
    0% {
        left:0;
        right:100%;
        width:0;
    }
    10% {
        left: 0;
        right: 75%;
        width: 20%;
    }
    90% {
        right: 0;
        left: 75%;
        width: 20%;
    }
    100% {
        left: 100%;
        right: 0;
        width: 0;
    }
}

@mixin hover-animation() {
    transition: color 500ms ease-out, background-color 500ms ease-out;
}

@mixin focus-animation() {
    transition: color 500ms ease-out, border-color 500ms ease-out;
}

/* Remove Chrome's input focus border */
:focus {
    outline: none !important;
}

::placeholder {
    color: $COLOR_GREY_LIGHT;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: $COLOR_BLACK;
    font-family: $FONT_DEFAULT;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: $FONT_HEADER;
}

h4 {
    font-size: 1.2rem;
}

a, a:visited, a:focus {
    color: $COLOR_PRIMARY;
    text-decoration: underline;
    @include hover-animation();

    &:hover {
        color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        color: $COLOR_PRIMARY_DARK;
    }
}

button, input[type="submit"] {
    background-color: $COLOR_PRIMARY;
    color: white;
    border-radius: 0;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    outline: none !important;
    font-family: $FONT_DEFAULT;
    font-size: 1em;
    @include hover-animation();

    &:hover {
        background-color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        background-color: $COLOR_PRIMARY_DARK;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: $COLOR_GREY;

        &:hover, &:active {
            background-color: $COLOR_GREY;
        }
    }
}

.mashroom-portal-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 23px;

        &:before {
            position: absolute;
            left: 2px;
            top: 0;
            font-family: $FONT_ICON;
            font-size: 1.1em;
            content: "\f0c8";
            color: $COLOR_PRIMARY;
            @include focus-animation();
        }
    }

    &:checked + label:before {
        content: "\f14a";
    }

    &:focus + label {
        &:before {
            color: $COLOR_SECONDARY !important;
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: $COLOR_GREY;

        &:before {
            color: $COLOR_GREY !important;
        }
    }
}

.mashroom-portal-radio {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 23px;

        &:before {
            position: absolute;
            left: 1px;
            top: 0;
            font-family: $FONT_ICON;
            font-size: 1.1em;
            content: "\f111";
            color: $COLOR_PRIMARY;
            @include focus-animation();
        }
    }

    &:checked + label:before {
        content: "\f192";
    }

    &:focus + label {
        &:before {
            color: $COLOR_SECONDARY;
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: $COLOR_GREY;

        &:before {
            color: $COLOR_GREY !important;
        }
    }
}

input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"], textarea {
    padding: 6px 11px;
    border: 1px solid $COLOR_PRIMARY;
    width: 100%;
    font-family: $FONT_DEFAULT;
    font-size: 1em;
    @include focus-animation();

    &:focus {
        padding: 5px 10px;
        border: 2px solid $COLOR_SECONDARY;
    }

    &:invalid {
        padding: 5px 10px;
        border: 2px solid $COLOR_ERROR;
    }

    &:disabled {
        cursor: not-allowed;
        color: $COLOR_GREY !important;
        border-color: $COLOR_GREY;
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    font-family: $FONT_DEFAULT;
    font-size: 1em;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    background-color: white;
    border: 1px solid $COLOR_PRIMARY;
    border-radius: 0;
    @include focus-animation();

    option {
        background-color: white;
    }

    &:focus {
        border: 2px solid $COLOR_SECONDARY;

        &::-ms-value {
            background-color: transparent;
        }
    }

    &:invalid {
        border: 2px solid $COLOR_ERROR;
    }

    &::-ms-expand {
        display: none;
    }

    &:disabled {
        cursor: not-allowed;
        color: $COLOR_GREY !important;
        border-color: $COLOR_GREY;
    }
}

label, form {
    margin: 0;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid $COLOR_PRIMARY;

    tr {
        border-bottom: 1px solid $COLOR_PRIMARY;

        &:nth-child(odd) {
            background-color: $COLOR_PRIMARY_EXTRA_LIGHT;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    th {
        text-align: left;
        padding: 5px 10px;
        background-color: $COLOR_PRIMARY;
        color: white;
        border-right: 1px solid white;

        &:last-child {
            border-right: none;
        }
    }

    td {
        padding: 4px 10px;
        border-right: 1px solid $COLOR_PRIMARY;

        &:last-child {
            border-right: none;
        }
    }
}

header {
    background-color: $COLOR_PRIMARY;
    color: white;
    position: relative;

    .logo {
        display: none;

        img {
            display: inline-block;
            height: 40px;
            margin-left: 20px;
        }
    }

    .site-name {
        h1 {
            display: inline-block;
            padding: 16px $GUTTER_WIDTH 0 $GUTTER_WIDTH;
            font-size: 1.4em;
            font-weight: 400;
        }
    }

    .env-and-versions {
        font-size: 0.8em;
        line-height: 1.3em;
        margin-left: $GUTTER_WIDTH;
        padding: 10px 0;

        a, a:hover, a:active {
            color: white;
        }
    }

    .user {
        padding: 0 20px 10px 20px;
        margin-left: $GUTTER_WIDTH;
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            position: absolute;
            display: inline-block;
            font-family: $FONT_ICON;
            font-weight: 900;
            content: "\f007";
            color: $COLOR_WHITE;
            left: 0;
        }

        .user-name {
            padding-left: 5px;
        }

        .logout {
            padding-left: 10px;

            a {
                display: block;
                color: $COLOR_WHITE;
                font-size: 0.8em;
            }
        }
    }

    .menu-open {
        cursor: pointer;
        position: absolute;
        bottom: 5px;
        right: 10px;
        padding: 2px 5px;

        &:before {
            content: '\f142';
            font-family: $FONT_ICON;
            font-size: 1.2em;
            font-weight: 900;
        }
    }
}

.loading-animation {
    width: 100%;
    height: 2px;
    background-color: $COLOR_SECONDARY;
    position: relative;

    .loading-animation-progress {
        display: none;
        height: 2px;
        background-color: $COLOR_PRIMARY_DARK;
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        left: 0;
        animation: progress-bar 1s linear infinite;

        &.show {
           display: block;
        }
    }
}

.mashroom-portal-app-wrapper {
    margin-bottom: $GUTTER_WIDTH;
    box-shadow: 0 0 1px $COLOR_PRIMARY;

    .mashroom-portal-app-host {
        min-height: 20px;
    }

    .mashroom-portal-app-loading {
        min-height: 100px;
        overflow: hidden;
        opacity: 0;
        animation: show-delayed 0.1s;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        span {
            display: table;
            margin: 15px auto;
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $COLOR_LOADING_DOTS_LIGHTEN;
            animation: dot-flashing 1s infinite linear alternate;
            animation-delay: 1.5s;
            top: 0;

            &:before,
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
            }

            &:before {
                left: -15px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: $COLOR_LOADING_DOTS_LIGHTEN;
                animation: dot-flashing 1s infinite alternate;
                animation-delay: 1s;
            }

            &:after {
                left: 15px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: $COLOR_LOADING_DOTS_LIGHTEN;
                animation: dot-flashing 1s infinite alternate;
                animation-delay: 2s;
            }
        }
    }

    .mashroom-portal-app-loading-error {
        color: $COLOR_ERROR;
        padding: 10px;
    }

    .mashroom-portal-app-header {
        display: none;
        align-items: center;
        background-color: $COLOR_PRIMARY;
        color: white;

        .mashroom-portal-app-header-title {
            flex-grow: 2;
            padding: 5px 10px;
            font-size: 0.9em;
            font-weight: 500;
        }

        .mashroom-portal-app-header-close {
            cursor: pointer;

            &:before {
                content: '\f00d';
                font-family: $FONT_ICON;
                font-weight: 900;
                padding-right: 10px;
            }
        }
    }

    &.no-border {
        box-shadow: none;
    }

    &.no-margin {
        margin-bottom: 0;
    }

    &.show-header {
        .mashroom-portal-app-header {
            display: flex !important;
        }
    }

    &.hide-header {
        .mashroom-portal-app-header {
            display: none !important;
        }
    }

    .mashroom-portal-app-info {
        left: 0;
        top: 0;
        background-color: $COLOR_SECONDARY_EXTRA_LIGHT;
        border: 2px solid $COLOR_SECONDARY_LIGHT;
        font-size: 0.7em;
        font-weight: bold;
        line-height: 1.2em;
        padding: 2px 4px;
        opacity: 0.9;
        z-index: 20000;
    }
}

main {
    margin: 20px 0;

    &.show-portal-app-headers {
        .mashroom-portal-app-wrapper {
            .mashroom-portal-app-header {
                display: flex;
            }
        }
    }

    nav {
        display: none;
        white-space: nowrap;
        min-width: 220px;
        margin-bottom: $GUTTER_WIDTH;
        margin-top: -15px;

        &.show {
            display: block;
        }

        .nav .nav {
            .nav-item .nav-link {
                padding-left: 30px;
            }
        }

        .nav .nav .nav {
            .nav-item .nav-link {
                padding-left: 40px;
            }
        }

        .nav .nav .nav .nav {
            .nav-item .nav-link {
                padding-left: 50px;
            }
        }

        .nav-item {

            .nav-link {
                position: relative;
                padding: 6px 20px;
                margin-bottom: 2px;
                color: $COLOR_BLACK;
                text-decoration: none;
                background-color: $COLOR_PRIMARY_EXTRA_LIGHT;
                @include hover-animation();

                &:hover {
                    &:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        content: ' ';
                        display: block;
                        background-color: $COLOR_SECONDARY;
                    }
                }

                &.active {
                    cursor: default;
                    font-weight: bold;

                    &:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        content: ' ';
                        display: block;
                        background-color: $COLOR_PRIMARY;
                    }

                    &:hover {
                        color: $COLOR_BLACK;
                    }
                }
            }
        }
    }

    #portal-page-content {
        transition: filter 0.1s;

        &.transition {
            // Comment this in for some fancy page transition animation
            // filter: blur(2px);
        }
    }
}

footer {
    border-top: 1px solid $COLOR_PRIMARY;
    color: $COLOR_PRIMARY;
    padding-top: 10px;
    font-size: 0.8em;

    .powered-by {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

}

.mashroom-portal-apps-container {

}

.mashroom-portal-ui-error-message {
    color: $COLOR_ERROR;
    font-size: 0.9em;
    padding: 3px 0 3px 12px;
    position: relative;

    &:before {
        font-family: $FONT_ICON;
        font-weight: 900;
        content: '\f12a';
        position: absolute;
        left: 2px;
        top: 5px;
        font-size: 0.9em;
    }
}

.mashroom-portal-ui-input.error {
    input, select, textarea {
        border-color: $COLOR_ERROR !important;
    }

    .mashroom-portal-checkbox + label:before, .mashroom-portal-radio + label:before {
        color: $COLOR_ERROR !important;
    }

    .CodeMirror {
        border-color: $COLOR_ERROR !important;
    }
}

.mashroom-portal-autocomplete-field {
    .suggestions-container-open {
        background-color: $COLOR_WHITE;

        li:nth-child(even) {

        }
    }
}

.mashroom-portal-ui-modal {
    .mashroom-portal-ui-modal-header {
        background-color: $COLOR_PRIMARY;

        .title {
            font-family: $FONT_HEADER;
        }
    }
}

.mashroom-portal-ui-tab-dialog {
    .tab-dialog-header {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $COLOR_PRIMARY;

        .tab-dialog-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $COLOR_WHITE;
            background-color: $COLOR_GREY;
            margin-left: 2px;
            margin-top: 2px;
            margin-bottom: 2px;
            @include hover-animation();

            &:hover {
                background-color: $COLOR_GREY_LIGHT;
            }

            &.active {
                background-color: $COLOR_PRIMARY;
                margin-top: 1px;
                margin-bottom: 0;
                cursor: default;
            }

            .title {
                padding: 4px 15px;
                font-size: 0.9em;
                font-weight: 500;
            }

            .close-button {
                cursor: pointer;

                &:after {
                    content: '\f00d';
                    font-family: $FONT_ICON;
                    font-weight: 900;
                    padding: 2px 15px;
                }
            }
        }
    }
}

.mashroom-portal-ui-source-code-editor-field {
    .react-codemirror2 {
        height: 100%;
    }

    .CodeMirror {
        border: 1px solid $COLOR_PRIMARY;
        padding: 1px;
        @include focus-animation();

        &.CodeMirror-focused {
            padding: 0;
            border: 2px solid $COLOR_SECONDARY;
        }
    }
}

#mashroom-portal-modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(#444, 0.6);
    z-index: 5000;
    top: -100%;
    transition: top 0.3s ease-out;

    &.show {
        top: 0;
    }

    .mashroom-portal-modal-overlay-wrapper {
        position: relative;
        display: table;
        margin: 15% auto;
        min-width: 250px;
        max-width: 90%;
        box-shadow: 4px 4px 8px #444;
        transition: opacity 0.3s ease;
    }

    .mashroom-portal-modal-overlay-header {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        color: $COLOR_WHITE;
        background-color: $COLOR_PRIMARY;

        #mashroom-portal-modal-overlay-title {
            flex-grow: 2;
            padding: 8px 10px;
        }

        #mashroom-portal-modal-overlay-close {
            cursor: pointer;
            font-size: 16px;
            padding: 8px 10px;

            &:after {
                content: '\f00d';
                font-family: $FONT_ICON;
                font-weight: 900;
            }
        }
    }

    .mashroom-portal-modal-overlay-content {
        overflow: hidden;
        height: 100%;
        background-color: white;
        min-height: 60px;

        .mashroom-portal-app-wrapper {
            box-shadow: none;
        }
    }
}

#mashroom-portal-auth-expires-warning {
    position: fixed;
    top: -100px;
    left: calc(50% - 170px);
    width: 320px;
    transition: top 1s ease-out;
    z-index: 20000;

    &.show {
        top: 0;
    }

    .mashroom-portal-auth-expires-warning-message {
        position: relative;
        background-color: white;
        opacity: 0.8;
        padding: 10px 20px 10px 30px;
        border: 2px solid $COLOR_ERROR;
        border-top: none;
        font-size: 0.8em;
        font-weight: 500;

        &:before {
            position: absolute;
            left: 10px;
            content: '\f017';
            font-family: $FONT_ICON;
            font-weight: 900;
            padding-right: 5px;
            color: $COLOR_ERROR;
        }
    }
}

// Tabify app styles

.portal-app-mashroom-portal-tabify-app {
    background-color: transparent;

    .mashroom-portal-app-loading {
        // Don't show the loading animation
        display: none;
    }
}

// Admin app styles

#mashroom-portal-admin-app-container {
    background-color: $COLOR_BLACK;

    .mashroom-portal-app-wrapper {
        min-height: 32px;
        margin: 0;

        .mashroom-portal-app-header {
            display: none !important;
        }
    }

    .mashroom-portal-app-loading {
        min-height: 32px;

        span {
            display: none;
        }
    }
}

.mashroom-portal-admin-app {
    background-color: $ADMIN_APP_COLOR_BACKGROUND;
    color: $ADMIN_APP_COLOR_TEXT;

    .menu-bar {
        background-color: $ADMIN_APP_COLOR_BACKGROUND;
    }

    .available-apps-panel {

        .available-app {
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT;
            margin-bottom: 2px;

            &:hover {
                background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
            }

            .filter-match {
                color: $COLOR_SECONDARY;
            }
        }
    }

    .dropdown-menu-button {
        &:hover {
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
        }
    }

    .portal-apps-control-toggle {
        &:hover {
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
        }
    }

    a, a:visited, a:focus {
        color: $ADMIN_APP_COLOR_TEXT;
        text-decoration: none;
        @include hover-animation();

        &:hover {
            text-decoration: underline;
        }

        &:active {
            text-decoration: underline;
        }
    }

    table {
        color: $ADMIN_APP_COLOR_TEXT;
        border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER !important;

        tr {
            border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER !important;

            &:nth-child(odd) {
                background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT;
            }
        }

        th {
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
            border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT !important;
        }

        td {
            text-align: center;
            border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER !important;

            &:first-child {
                text-align: left;
            }
        }
    }

    .mashroom-portal-checkbox {
        & + label {
            &:before {
                color: $ADMIN_APP_COLOR_TEXT_DARK;
            }
        }

        &:focus + label {
            &:before {

            }
        }
    }

    .mashroom-portal-radio {
        & + label {
            &:before {
                color: $ADMIN_APP_COLOR_TEXT_DARK;
            }
        }

        &:focus + label {
            &:before {

            }
        }
    }

    input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"], textarea {
        background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT;
        border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
        color: $ADMIN_APP_COLOR_TEXT;

        &:focus {
            border-color: $COLOR_SECONDARY;
        }
    }

    select {
        background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT;
        border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
        color: $ADMIN_APP_COLOR_TEXT;

        option {
            color: $ADMIN_APP_COLOR_TEXT;
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT;
        }

        &:focus {
            border-color: $COLOR_SECONDARY;
        }
    }

    button {
        background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
        border: 1px solid transparent;
        color: $ADMIN_APP_COLOR_TEXT;

        &.secondary {
            border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
            background-color: transparent;
        }

        &:hover {
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT;
        }

        &[disabled] {
            color: $COLOR_GREY;
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;

            &:hover, &:active {
                background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
            }
        }

        &:focus {
            border-color: $COLOR_SECONDARY;
        }
    }

    .mashroom-portal-ui-field-label {
        color: $COLOR_GREY;

    }

    .mashroom-portal-ui-source-code-editor-field {
        .CodeMirror {
            border-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;

            &.CodeMirror-focused {
                border-color: $COLOR_SECONDARY;
            }
        }
    }

    .mashroom-portal-ui-dropdown-menu {
        background-color: $ADMIN_APP_COLOR_BACKGROUND;
        color: $ADMIN_APP_COLOR_TEXT;

        .dropdown-menu-content {
            background-color: $ADMIN_APP_COLOR_BACKGROUND;
            color: $ADMIN_APP_COLOR_TEXT;
            border: 1px solid #555;
        }

        .mashroom-portal-ui-dropdown-menu-item {
            &:hover {
                background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
            }
        }
    }

    .mashroom-portal-ui-modal {
        .mashroom-portal-ui-modal-header {
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER;
        }

        .mashroom-portal-ui-modal-content {
            background-color: $ADMIN_APP_COLOR_BACKGROUND;
            color: $ADMIN_APP_COLOR_TEXT;
        }
    }

    .mashroom-portal-autocomplete-field {
        .suggestions-container-open {
            background-color: $ADMIN_APP_COLOR_BACKGROUND;

            li:nth-child(even) {

            }
        }

        .suggestion-highlighted {
            background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHTER !important;
        }
    }
}

.mashroom-portal-admin-app-controls {
    .tool-button {
        color: $ADMIN_APP_COLOR_TEXT;
        background-color: $ADMIN_APP_COLOR_BACKGROUND;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}

.mashroom-portal-admin-drag-ghost {
    color: $COLOR_WHITE;
    background-color: $ADMIN_APP_COLOR_BACKGROUND_LIGHT;
}


@include small {

    header {
        display: flex;
        align-items: center;

        .logo {
            display: block;
        }

        .site-name {
            flex-grow: 2;

            h1 {
                font-size: 1.6em;
                padding: 16px $GUTTER_WIDTH 8px $GUTTER_WIDTH;
            }
        }

        .env-and-versions {
            padding: 0 20px;
            margin: 0;
        }

        .user {
            display: block;
            padding-top: 8px;
            padding-left: 34px;

            &:before {
                font-size: 1.6em;
                top: 12px;
            }

            .user-name {
                text-align: right;
            }

            .logout {
                text-align: right;
                margin-top: -3px;
            }
        }

        .menu-open {
            display: none;
        }
    }

    main {
        display: flex;
        min-height: 70vh;

        nav {
            margin-bottom: 0;
            display: block;
            margin-right: math.div($GUTTER_WIDTH, 2);
            margin-top: 0;
        }
    }

    #mashroom-portal-auth-expires-warning {
        left: calc(50% - 240px);
        width: 480px;
    }
}

@include medium {

    header {

        .site-name {


            h1 {

            }
        }

        .user {

        }
    }

}
