
.mashroom-portal-ui-source-code-editor-field {

    @import "~codemirror/lib/codemirror.css";
    @import "~codemirror/theme/blackboard.css";
    @import "~codemirror/theme/idea.css";

    label {
        display: block;
        padding-bottom: 3px;
    }

    .CodeMirror {
        font-family: monospace;
        font-size: 0.9em;
        height: 100%;

        &.CodeMirror-focused {

        }
    }
}
