
@use "sass:meta";
@use "variables" as *;

// Reset styles
@use "../../../../../../node_modules/bootstrap/scss/bootstrap-reboot";

// Bootstrap grid
@use "../../../../../../node_modules/bootstrap/scss/bootstrap-grid";

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Remove Chrome's input focus border */
:focus {
    outline: none !important;
}

::placeholder {
    color: $COLOR_GREY_LIGHT;
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: $COLOR_BLACK;
    font-family: $FONT_DEFAULT;
    background-color: $COLOR_BACKGROUND;
    font-size: 16px;

    /* CSS variables */
    --mashroom-portal-font-icon: #{meta.inspect($FONT_ICON)};
    --mashroom-portal-font-icon-brands: #{meta.inspect($FONT_ICON_BRANDS)};
    --mashroom-portal-font-default: #{meta.inspect($FONT_DEFAULT)};
    --mashroom-portal-font-header: #{meta.inspect($FONT_HEADER)};
    --mashroom-portal-color-black: #{$COLOR_BLACK};
    --mashroom-portal-color-grey: #{$COLOR_GREY};
    --mashroom-portal-color-grey-light: #{$COLOR_GREY_LIGHT};
    --mashroom-portal-color-error: #{$COLOR_ERROR};
    --mashroom-portal-color-primary: #{$COLOR_PRIMARY};
    --mashroom-portal-color-primary-light: #{$COLOR_PRIMARY_LIGHT};
    --mashroom-portal-color-primary-dark: #{$COLOR_PRIMARY_DARK};
    --mashroom-portal-color-primary-extra-light: #{$COLOR_PRIMARY_EXTRA_LIGHT};
    --mashroom-portal-color-secondary: #{$COLOR_SECONDARY};
    --mashroom-portal-color-secondary-light: #{$COLOR_SECONDARY_LIGHT};
    --mashroom-portal-color-secondary-dark: #{$COLOR_SECONDARY_DARK};
    --mashroom-portal-color-secondary-extra-light: #{$COLOR_SECONDARY_EXTRA_LIGHT};
    --mashroom-portal-color-background: #{$COLOR_BACKGROUND};
}

h1, h2, h3 {
    font-family: $FONT_HEADER;
}

h4 {
    font-size: 1.2rem;
}

a, a:visited, a:focus {
    color: $COLOR_PRIMARY;
    text-decoration: underline;
    @include hover-animation();

    &:hover {
        color: $COLOR_PRIMARY_LIGHT;
    }

    &:active {
        color: $COLOR_PRIMARY_LIGHT;
    }
}

button, input[type="submit"] {
    background-color: $COLOR_PRIMARY;
    color: white;
    border-radius: 0;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    outline: none !important;
    font-family: $FONT_DEFAULT;
    font-size: 1em;
    @include hover-animation();

    &:hover {
        background-color: $COLOR_PRIMARY_LIGHT;
    }

    &:active {
        background-color: $COLOR_PRIMARY_LIGHT;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: $COLOR_GREY;

        &:hover, &:active {
            background-color: $COLOR_GREY;
        }
    }
}

button.secondary {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_PRIMARY;
    color: $COLOR_PRIMARY;

    &:hover {
        color: $COLOR_PRIMARY_DARK;
        border-color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        color: $COLOR_PRIMARY_DARK;
        border-color: $COLOR_PRIMARY_DARK;
    }

    &[disabled] {
        background-color: $COLOR_WHITE;
        border-color: $COLOR_GREY;
        color: $COLOR_GREY;

        &:hover, &:active {
            border-color: $COLOR_GREY;
            color: $COLOR_GREY;
        }
    }
}

.mashroom-portal-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 22px;

        &:before {
            position: absolute;
            left: 2px;
            top: 0;
            font-family: $FONT_ICON;
            font-size: 1em;
            content: "\f0c8";
            color: $COLOR_PRIMARY;
            @include focus-animation();
        }
    }

    &:checked + label:before {
        content: "\f14a";
    }

    &:focus + label {
        &:before {
            color: $COLOR_SECONDARY !important;
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: $COLOR_GREY;

        &:before {
            color: $COLOR_GREY !important;
        }
    }
}

.mashroom-portal-radio {
    position: absolute;
    opacity: 0;

    & + label {
        cursor: pointer;
        position: relative;
        padding-left: 22px;

        &:before {
            position: absolute;
            left: 1px;
            top: 0;
            font-family: $FONT_ICON;
            font-size: 1em;
            content: "\f111";
            color: $COLOR_PRIMARY;
            @include focus-animation();
        }
    }

    &:checked + label:before {
        content: "\f192";
    }

    &:focus + label {
        &:before {
            color: $COLOR_SECONDARY;
        }
    }

    &[disabled] + label {
        cursor: not-allowed;
        color: $COLOR_GREY;

        &:before {
            color: $COLOR_GREY !important;
        }
    }
}

input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"], textarea {
    padding: 6px 11px;
    border: 1px solid $COLOR_PRIMARY;
    width: 100%;
    font-family: $FONT_DEFAULT;
    font-size: 1em;
    @include focus-animation();

    &:focus {
        border: 1px solid $COLOR_SECONDARY;
    }

    &:invalid {
        border: 1px solid $COLOR_ERROR;
    }

    &:disabled {
        cursor: not-allowed;
        color: $COLOR_GREY !important;
        border-color: $COLOR_GREY;
    }
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    font-family: $FONT_DEFAULT;
    font-size: 1em;
    width: 100%;
    padding: 6px 11px;
    background-color: white;
    border: 1px solid $COLOR_PRIMARY;
    border-radius: 0;
    @include focus-animation();

    option {
        background-color: white;
    }

    &:focus {
        border: 1px solid $COLOR_SECONDARY;

        &::-ms-value {
            background-color: transparent;
        }
    }

    &:invalid {
        border: 1px solid $COLOR_ERROR;
    }

    &::-ms-expand {
        display: none;
    }

    &:disabled {
        cursor: not-allowed;
        color: $COLOR_GREY !important;
        border-color: $COLOR_GREY;
    }
}

label, form {
    margin: 0;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid $COLOR_PRIMARY;

    tr {
        border-bottom: 1px solid $COLOR_PRIMARY;

        &:last-child {
            border-bottom: none;
        }
    }

    th {
        text-align: left;
        padding: 5px 10px;
        background-color: $COLOR_PRIMARY;
        color: white;
        border-right: 1px solid white;

        &:last-child {
            border-right: none;
        }
    }

    td {
        padding: 4px 10px;
        border-right: 1px solid $COLOR_PRIMARY;

        &:last-child {
            border-right: none;
        }
    }

    &.table-striped {
        tr:nth-child(even) {
            background-color: #EEE;
        }
    }
}

blockquote {
    padding: 15px 10px;
    background-color: #EEE;
    border-left: 7px solid $COLOR_GREY;
}

header {
    background-color: $COLOR_PRIMARY;
    color: white;
    border-bottom: 2px solid $COLOR_SECONDARY;
    position: relative;

    .logo {
        display: block;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 15px;
        top: 8px;

        svg {
            display: inline-block;
            width: 40px;
            height: 30px;
            margin-left: 11px;
            margin-top: 16px;
        }
    }

    .site-name {
        margin-left: 90px;

        h1 {
            display: inline-block;
            padding: 10px 0 5px 0;
            margin: 0;
            font-size: 1.4em;
            font-weight: 400;
        }
    }

    .user {
        padding: 0 20px 10px 20px;
        margin-left: 90px;
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            position: absolute;
            display: inline-block;
            font-family: $FONT_ICON;
            font-weight: 900;
            content: "\f007";
            color: $COLOR_WHITE;
            left: 0;
        }

        .user-name {
            margin: 0 10px;
        }

        .logout {
            margin: 0 10px;

            a {
                display: block;
                color: $COLOR_WHITE;
                font-size: 0.8em;
            }
        }
    }
}

.mashroom-portal-app-wrapper {
    margin-bottom: $GUTTER_WIDTH;
    background-color: white;
    overflow: hidden;

    .mashroom-portal-app-host {
        min-height: 20px;
    }

    .mashroom-portal-app-loading {
        padding: 5px;
        min-height: 100px;

        &:before {
            display: block;
            width: 100%;
            text-align: center;
            font-family: $FONT_ICON;
            font-weight: 900;
            content: "\f110";
            color: $COLOR_PRIMARY;
            font-size: 24px;
            -webkit-animation: spin 1s infinite steps(8);
            animation: spin 1s infinite steps(8);
        }
    }

    .mashroom-portal-app-loading-error {
        color: $COLOR_ERROR;
        padding: 10px;
    }

    .mashroom-portal-app-header {
        display: none;
        align-items: center;
        background-color: $COLOR_PRIMARY;
        color: white;

        .mashroom-portal-app-header-title {
            flex: 2;
            padding: 5px 10px;
            font-size: 0.9em;
            font-weight: 500;
        }

        .mashroom-portal-app-header-close {
            cursor: pointer;

            &:before {
                content: '\f00d';
                font-family: $FONT_ICON;
                font-weight: 900;
                padding-right: 10px;
            }
        }
    }

    &.no-border {
        box-shadow: none;
    }

    &.no-margin {
        margin-bottom: 0;
    }

    &.show-header {
        .mashroom-portal-app-header {
            display: flex;
        }
    }

    &.hide-header {

    }

    .mashroom-portal-app-info {
        left: 0;
        top: 0;
        background-color: lightyellow;
        border: 2px solid yellow;
        font-size: 0.7em;
        font-weight: bold;
        line-height: 1.2em;
        padding: 2px 4px;
        opacity: 0.9;
        z-index: 20000;
    }
}

nav {
    white-space: nowrap;
    background-color: #EEE;
    border-bottom: 1px solid #CCC;

    .menu-toggle-wrapper {
        display: flex;

        #menu-toggle {
            margin: 2px 19px;
            padding: 2px 6px;
            cursor: pointer;
            border-radius: 5px;

            &:before {
                content: '\f0c9';
                font-family: $FONT_ICON;
                font-size: 1.1em;
                font-weight: 900;
            }

            &:hover {
                background-color: #CCC;
            }
        }

        .current-page {
            font-family: $FONT_HEADER;
            padding: 5px 0;
        }
    }

    .nav-wrapper {
        max-height: 0;
        overflow: hidden;
        padding-left: 40px;
        transition: max-height 0.3s ease-out;

        &.show {
            max-height: 512px;
            box-shadow: 0 4px 4px #CCC;
        }
    }

    .nav {
        list-style: none;
        padding: 0;
    }

    .nav .nav {
        .nav-item .nav-link {
            padding-left: 30px;
        }
    }

    .nav .nav .nav {
        .nav-item .nav-link {
            padding-left: 40px;
        }
    }

    .nav .nav .nav .nav {
        .nav-item .nav-link {
            padding-left: 50px;
        }
    }

    .nav-item {
        display: block;

        .nav-link {
            display: block;
            color: $COLOR_BLACK;
            text-decoration: none;
            padding: 6px 12px;

            &:before {
                content: '\f0da';
                font-family: $FONT_ICON;
                padding-right: 10px;
                font-weight: 900;
                font-size: 0.8em;
            }

            &:hover {
                font-weight: bold;
            }

            &.active {
                cursor: default;
                font-style: italic;

                &:hover {
                    font-weight: normal;
                }
            }
        }
    }
}

main {
    margin: 25px 10px;


}

footer {
    border-top: 1px solid $COLOR_SECONDARY;
    color: $COLOR_SECONDARY;
    padding-top: 10px;
    font-size: 0.8em;

    .powered-by {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

}

.mashroom-portal-apps-container {

}

mashroom-portal-ui-error-message {
    color: $COLOR_ERROR;
    font-size: 0.9em;
    padding: 3px 0;
}

.mashroom-portal-ui-input.error {
    input, select, textarea {
        border-color: $COLOR_ERROR !important;
    }

    .mashroom-portal-checkbox + label:before, .mashroom-portal-radio + label:before {
        color: $COLOR_ERROR !important;
    }

    .cm-editor {
        border-color: $COLOR_ERROR !important;
    }
}

.mashroom-portal-autocomplete-field {
    .suggestions-container-open {
        background-color: $COLOR_WHITE;

        li:nth-child(even) {

        }
    }
}

.mashroom-portal-ui-modal {
    .mashroom-portal-ui-modal-header {
        background-color: $COLOR_PRIMARY;

        .title {
            font-family: $FONT_HEADER;
        }
    }
}

.mashroom-portal-ui-tab-dialog {
    .tab-dialog-header {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $COLOR_PRIMARY;

        .tab-dialog-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $COLOR_WHITE;
            background-color: $COLOR_GREY;
            margin-left: 2px;
            margin-top: 2px;
            margin-bottom: 2px;
            @include hover-animation();

            &:hover {
                background-color: $COLOR_GREY_LIGHT;
            }

            &.active {
                background-color: $COLOR_PRIMARY;
                margin-top: 1px;
                margin-bottom: 0;
                cursor: default;
            }

            .title {
                padding: 4px 15px;
                font-size: 0.9em;
                font-weight: 500;
            }

            .close-button {
                cursor: pointer;

                &:after {
                    content: '\f00d';
                    font-family: $FONT_ICON;
                    font-weight: 900;
                    padding: 2px 15px;
                }
            }
        }
    }
}

.mashroom-portal-ui-source-code-editor-field {
    .cm-editor {
        border: 1px solid $COLOR_PRIMARY;
        padding: 5px;
        @include focus-animation();

        &.cm-focused {
            border: 1px solid $COLOR_SECONDARY;
        }
    }
}

#mashroom-portal-modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(#444, 0.6);
    z-index: 5000;
    top: -100%;
    transition: top 0.2s ease-out;

    &.show {
        top: 0;
    }

    .mashroom-portal-modal-overlay-wrapper {
        position: relative;
        display: table;
        margin: 10% auto;
        min-width: 250px;
        max-width: 90%;
        box-shadow: 4px 4px 8px #444;
        transition: opacity 0.3s ease;
    }

    .mashroom-portal-modal-overlay-header {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        color: $COLOR_WHITE;
        background-color: $COLOR_PRIMARY;

        #mashroom-portal-modal-overlay-title {
            flex: 2;
            padding: 8px 10px;
        }

        #mashroom-portal-modal-overlay-close {
            cursor: pointer;
            font-size: 16px;
            padding: 8px 10px;

            &:after {
                content: '\f00d';
                font-family: $FONT_ICON;
                font-weight: 900;
            }
        }
    }

    .mashroom-portal-modal-overlay-content {
        overflow: hidden;
        height: 100%;
        background-color: white;
        min-height: 60px;
    }
}

#mashroom-portal-auth-expires-warning {
    position: fixed;
    top: -150px;
    left: calc(50% - 170px);
    width: 320px;
    transition: top 1s ease-out;
    z-index: 20000;

    &.show {
        top: 0;
    }

    .mashroom-portal-auth-expires-warning-message {
        position: relative;
        background-color: white;
        opacity: 0.8;
        padding: 10px 20px 10px 30px;
        border: 2px solid $COLOR_ERROR;
        border-top: none;
        font-size: 0.8em;
        font-weight: 500;

        &:before {
            position: absolute;
            left: 10px;
            content: '\f017';
            font-family: $FONT_ICON;
            font-weight: 900;
            padding-right: 5px;
            color: $COLOR_ERROR;
        }
    }
}

.portal-app-mashroom-portal-tabify-app {
    .tab-dialog-header {
        border-bottom: 2px solid $COLOR_GREY_LIGHT;
    }
}

@include small {

    header {
        display: flex;
        align-items: center;

        .site-name {
            margin-left: 0;
            flex-grow: 2;
            padding-left: 80px;
            margin-top: 4px;

            h1 {
                font-size: 1.6em;
                padding: 20px $GUTTER_WIDTH;
            }
        }

        .user {
            display: block;
            padding-top: 10px;
            padding-left: 30px;
            margin-left: 0;

            &:before {
                font-size: 1.6em;
                top: 14px;
            }

            .logout {
                text-align: right;
                margin-top: -3px;
            }
        }
    }

    main {
        min-height: 70vh;
    }

    #mashroom-portal-auth-expires-warning {
        left: calc(50% - 240px);
        width: 480px;
    }
}

@include medium {

    header {
        .site-name {
            h1 {
                font-size: 2em;
                padding: 16px $GUTTER_WIDTH;
            }
        }

        .user {

        }
    }

}
