
.mashroom-demo-react-app {
    padding: 10px;
    display: flex;

    .react-logo {
        align-self: center;

        svg {
            height: 80px;
        }
    }

    button {
        margin-right: 10px;
    }
}
