
$COLOR_PRIMARY: #4D487F;
$COLOR_PRIMARY_LIGHT: #706aab;
$COLOR_PRIMARY_DARK: #3a365f;
$COLOR_ERROR: red;

$FONT_DEFAULT: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin hover-animation() {
    transition: color 500ms ease-out, background-color 500ms ease-out;
}

body {
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 1.5;
    font-family: $FONT_DEFAULT;
    min-height: 800px;
    margin: 16px;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
}

a, a:visited, a:focus {
    color: $COLOR_PRIMARY;
    text-decoration: none;
    @include hover-animation();

    &:hover {
        color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        color: $COLOR_PRIMARY_DARK;
    }
}

.errors {
    margin: 20px 0;
    color: $COLOR_ERROR;

    ul {
        margin: 5px 0;
    }

    li {
        padding: 2px 0;
    }
}

.footnotes {
    margin-top: 20px;
    font-size: 0.9em;
}

table, th, td {
    border: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #E2E2E2;
}

th {
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    font-weight: 700;
}

td {
    padding: 8px 10px;
    vertical-align: top;
}


tr.row-error {
  background-color: #FFDDDD;
}

tr.row-ignored {
  color: #666;
}

.error {
  color: $COLOR_ERROR;
}

.pending, .processing {
  color: orange;
}

.services {
    .portal-apps {
        min-width: 250px;
        margin: 0;
        padding-left: 20px;

        li {
            padding: 2px 0;
        }

        .invalid-portal-app {
            color: #666;
            .error {
                color: $COLOR_ERROR;
            }
        }
    }
}
