
.mashroom-portal-autocomplete-field {
    display: flex;
    align-items: center;

    .autocomplete-container {
        flex-grow: 2;
    }

    .suggestions-container {
        display: none;
    }

    .suggestions-container-open {
        display: block;
        position: absolute;
        overflow-x: auto;
        z-index: 10000;
        margin-bottom: 20px;
        max-height: 200px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }

    .suggestion {
        padding: 8px 10px;
        cursor: pointer;
    }

    .suggestion-highlighted {
        background-color: var(--mashroom-portal-background-color-alt, #EEE);
    }

    .suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

}
