
.mashroom-portal-ui-source-code-editor-field {

    @import "../../node_modules/codemirror/lib/codemirror";
    @import "../../node_modules/codemirror/theme/blackboard";

    display: flex;

    &>div {
        flex-grow: 2;
    }

    label {
        display: block;
        padding-bottom: 3px;
    }

    .CodeMirror {
        font-family: monospace;
        font-size: 0.9em;
        height: 100%;
    }

}
