
.mashroom-portal-ui-source-code-editor-field {
    display: flex;

    &>div {
        flex-grow: 2;
        overflow: hidden;
    }

    label {
        display: block;
        padding-bottom: 3px;
    }

    .cm-theme {
        height: 100%;
    }

    .cm-editor {
        height: 100%;
        font-family: monospace;
        font-size: 0.9em;
    }

}
