
.mashroom-portal-ui-tab-dialog {

    .tab-dialog-header {

    }

    .tab-dialog-content-wrapper {

        .tab-dialog-content {
            height: 100%;
            display: none;
            opacity: 0;

            &.active {
                transition: opacity 0.3s ease-in;
                display: block;
                opacity: 1;
            }
        }
    }
}
