
@keyframes translateFromLeft {
    from {
        transform: translate(-20px, -20px);
    }
    to {
        transform: translate(0);
    }
}

@keyframes translateFromRight {
    from {
        transform: translate(20px, 20px);
    }
    to {
        transform: translate(0);
    }
}

.mashroom-welcome-portal-app {
    padding: 10px;

    .welcome-app-content {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .logo {
            margin-left: 20px;
            margin-right: 5px;
            overflow: visible;

            svg {
                width: 80px;
                height: 61px;
                overflow: visible;

                .w1 {
                    animation: translateFromLeft 1s ease-in;
                }

                .w3 {
                    animation: translateFromRight 1s ease-in;
                }
            }
        }

        p {
            padding: 0 20px;
            margin: 0;
        }
    }
}
