@use "../variables" as *;

.AppGallery {
    background-color: transparent;
    padding: $DEFAULT_SPACING;

    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .Error {
        color: red;
        padding: $DEFAULT_SPACING;
    }

    .PortalApps {
        display: flex;
        flex-wrap: wrap;
        gap: $DEFAULT_SPACING;

        &>div {
            width: 100%;
        }

        &.PortalApps2Columns {
            &>div {
                width: calc(50% - $DEFAULT_SPACING);
            }
        }

        &.PortalApps3Columns {
            &>div {
                width: calc(33% - $DEFAULT_SPACING);
            }
        }
    }

}
