
@use "fonts";
@use "variables";

$SMALL_DEVICE_MIN: 576px;
$MEDIUM_DEVICE_MIN: 768px;
$LARGE_DEVICE_MIN: 992px;
$X_LARGE_DEVICE_MIN: 1200px;

@mixin hover-animation() {
    transition: color 500ms ease-out, background-color 500ms ease-out;
}

body {
    text-rendering: optimizeLegibility;
    color: var(--mashroom-portal-color-text-default);
    font-family: var(--mashroom-portal-font-default), sans-serif;
    font-size: var(--mashroom-portal-line-font-size-default);
    line-height: var(--mashroom-portal-line-height-default);
    padding: 0;
    margin: 0;
    background-color: var(--mashroom-portal-background-color-default);
}

a, a:visited, a:focus {
    color: var(--mashroom-portal-color-button);
    text-decoration: underline;
    @include hover-animation();

    &:hover {
        color: var(--mashroom-portal-color-button-hover);
    }

    &:active {
        color: var(--mashroom-portal-color-button);
    }
}

button, input[type="submit"] {
    background-color: var(--mashroom-portal-color-button);
    color: white;
    border-radius: 5px;
    border: none;
    padding: var(--mashroom-portal-padding-button);
    cursor: pointer;
    font-family: var(--mashroom-portal-font-default), sans-serif;
    font-size: 1em;
    @include hover-animation();

    &:hover {
        background-color: var(--mashroom-portal-color-button-hover);
    }

    &:active {
        background-color: var(--mashroom-portal-color-button);
    }
}

input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"] {
    box-sizing: border-box;
    padding: var(--mashroom-portal-padding-input);
    border: 1px solid var(--mashroom-portal-color-input-border);
    border-radius: 3px;
    width: 100%;
    color: var(--mashroom-portal-color-text-default);
    background-color: var(--mashroom-portal-background-color-input);

    &:focus {
        outline: 1px solid var(--mashroom-portal-color-input-border);
    }

    &:invalid {
        border: 1px solid var(--mashroom-portal-color-error);
    }
}

label {
    margin: 0;
}

header {
    background-color: var(--mashroom-portal-background-color-header);
    padding-left: 20px;
    display: flex;
    color: white;
    overflow: hidden;
    border-bottom: 2px solid var(--mashroom-portal-color-secondary-light);

    .logo {
        margin-top: 16px;
        background-image: url(assets/logo-white.svg);
        background-repeat: no-repeat;
        width: 40px;
        height: 30px;
        background-size: cover;
    }

    .page-title {
        h1 {
            display: inline-block;
            padding: 16px 15px;
            margin: 0;
            font-size: 1.4em;
            font-weight: 400;
        }
    }
}

main {
    padding: 10px;

    .login {
        max-width: 500px;
        margin-top: 20%;
        margin-left: 20px;
        margin-right: 20px;
        background-color: var(--mashroom-portal-background-color-app);
        border-radius: 10px;

        .login-form-title {
            overflow: hidden;

            h2 {
                font-size: 1.2em;
                margin: 20px 18px;
            }
        }

        .login-error {
            color: var(--mashroom-portal-color-error);
            margin-bottom: 20px;
        }

        .login-form {
            padding: 20px;

            .login-form-row {
                margin: 10px 0;

                .login-form-label {
                    margin-bottom: 5px;
                }

                .login-form-input {
                    width: 90%;
                }
            }

            .login-form-actions {
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: $MEDIUM_DEVICE_MIN) {
    header {
        .page-title {
            h1 {
                font-size: 1.6em;
            }
        }
    }

    main {
        .login {
            margin-top: max(60px, calc(50vh - 250px));
            margin-left: auto;
            margin-right: auto;

            .login-form {
                .login-form-row {
                    display: flex;
                    align-items: center;

                    .login-form-label {
                        width: 120px;
                    }

                    .login-form-input {
                        width: calc(100% - 150px)
                    }
                }
            }
        }
    }


};
