
$SMALL_DEVICE_MIN: 576px;
$MEDIUM_DEVICE_MIN: 768px;
$LARGE_DEVICE_MIN: 992px;
$X_LARGE_DEVICE_MIN: 1200px;

$COLOR_BLACK: #343633;
$COLOR_WHITE: white;
$COLOR_ERROR: #FF0033;

$COLOR_PRIMARY: #504B88;
$COLOR_PRIMARY_LIGHT: #655fa7;
$COLOR_PRIMARY_DARK: #3d3967;
$COLOR_PRIMARY_EXTRA_LIGHT: #f4f3f8;

$COLOR_SECONDARY: #C49B5E;
$COLOR_SECONDARY_LIGHT: #d2b283;
$COLOR_SECONDARY_DARK: #af8240;
$COLOR_SECONDARY_EXTRA_LIGHT: #f4ece1;

$FONT_DEFAULT: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$FONT_HEADER: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

@mixin hover-animation() {
    transition: color 500ms ease-out, background-color 500ms ease-out;
}

/* Remove Chrome's input focus border */
:focus {
    outline: none !important;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: $COLOR_BLACK;
    font-size: 16px;
    font-family: $FONT_DEFAULT;
}

.background-image {
    position: fixed;
}

h1, h2, h3 {
    font-family: $FONT_HEADER;
}

a, a:visited, a:focus {
    color: $COLOR_PRIMARY;
    text-decoration: underline;
    @include hover-animation();

    &:hover {
        color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        color: $COLOR_PRIMARY_DARK;
    }
}

button, input[type="submit"] {
    background-color: $COLOR_PRIMARY;
    color: white;
    border-radius: 0;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    outline: none !important;
    font-size: 1em;
    @include hover-animation();

    &:hover {
        background-color: $COLOR_PRIMARY_DARK;
    }

    &:active {
        background-color: $COLOR_PRIMARY_DARK;
    }
}

input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"] {
    padding: 6px 11px;
    border: 1px solid $COLOR_PRIMARY;
    font-size: 1em;
    width: 100%;

    &:focus {
        padding: 5px 10px;
        border: 2px solid $COLOR_SECONDARY;
    }

    &:invalid {
        padding: 5px 10px;
        border: 2px solid $COLOR_ERROR;
    }

    &:disabled {
        cursor: not-allowed;
        color: gray !important;
    }
}

label {
    margin: 0;
}

.login {
    max-width: 500px;
    margin: 15% auto;
    background-color: rgba(white, 0.9);
    box-shadow: 0 0 8px $COLOR_PRIMARY;

    .login-form-title {
        overflow: hidden;

        h1 {
            font-size: 1.5em;
            margin: 20px 18px;
        }
    }

    .login-error {
        color: $COLOR_ERROR;
        margin-bottom: 20px;
    }

    .login-form {
        padding: 20px;

        .login-form-row {
            margin: 10px 0;

            .login-form-label {
                margin-bottom: 10px;
            }

            .login-form-input {
                width: 90%;
            }
        }

        .login-form-actions {
            margin-top: 20px;
        }
    }
}

@media (min-width: $MEDIUM_DEVICE_MIN) {
    .background-image {
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: url(assets/logo-white-shades.svg);
        background-repeat: no-repeat;
        background-position: 5vw 5vh;
        background-size: 90vw 90vh;
        z-index: -1;
    }

    .login {
        margin: 30% auto;

        .login-form {
            .login-form-row {
                display: flex;
                align-items: center;

                .login-form-label {
                    width: 120px;
                }

                .login-form-input {
                    width: calc(100% - 150px)
                }
            }
        }
    }
};

@media (min-width: $LARGE_DEVICE_MIN) {
    .background-image {
        background-position: 15vw 15vh;
        background-size: 70vw 70vh;
    }

    .login {
        margin: 20% auto;
    }
}
