
.page-configure-dialog {

    .mashroom-portal-ui-form-row.one-cell {
        .mashroom-portal-ui-field-label {
            min-width: 120px;
        }
    }

    .mashroom-portal-ui-checkbox-field {
        margin-left: 120px;
    }

    .mashroom-portal-ui-dialog-content {
        min-height: 370px;
    }

    .mashroom-portal-ui-error-message {
        display: table;
        margin: 10px auto;
    }

    select {
        max-width: 340px;
    }

}
