
.page-configure-dialog {

    .mashroom-portal-ui-form-row.one-cell {
        .mashroom-portal-ui-field-label {
            width: 120px;
        }
    }

    .mashroom-portal-ui-checkbox-field {
        margin-left: 120px;
    }

    .mashroom-portal-ui-dialog-content {
        min-height: 370px;
    }

    .error-panel {
        display: table;
        margin: 20px auto;
    }
}
