
.permissions {

    .add-role-panel {
        width: 100%;
        margin: 15px 0;
        display: flex;

        button {
            margin-left: 5px;
        }
    }

    .roles-list {
        margin-top: 20px;
    }
}
