
.site-configure-dialog {

    .mashroom-portal-ui-form-row.one-cell {
        .mashroom-portal-ui-field-label {
            width: 120px;
            min-width: 120px;
        }
    }

    .mashroom-portal-ui-dialog-content {
        min-height: 280px;
        padding-bottom: 0;
    }

    .error-panel {
        display: table;
        margin: 20px auto;
    }

}
