
.site-configure-dialog {

    .mashroom-portal-ui-form-row.one-cell {
        .mashroom-portal-ui-field-label {
            min-width: 120px;
        }
    }

    .mashroom-portal-ui-dialog-content {
        min-height: 320px;
    }

    .error-panel {
        display: table;
        margin: 20px auto;
    }

    select {
        max-width: 340px;
    }
}
